body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

thead {
    position: sticky;
    top: 0;
    background-color: #e0e0e0;
    text-align: center;
}